footer {
  background-color: white;
  margin-top: 100px;
}
footer .wrap {
  
}
footer .wrap h2{
  
  font-size: 0;
  display: block;
  width: 150px;
  height: 30px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}
footer .wrap p{
  
  line-height: 1.5;
}
footer .wrap p.copyright{
  
  text-align: end;
}