header {
  position: fixed;
  width: 100%;
  /*! background-color: #eee; */
  z-index: 1;
  color: white;
}
header .wrap {
  height: 88px;
  align-items: center;
  max-width: 100%;
  padding: 0 100px;
}
header .wrap h1 {
  font-size: 0;
  width: 151px;
  height: 29px;
  background-image: url(../img/tlogo.png);
  background-size: contain;
  background-repeat: no-repeat;
}
header .wrap a{
  color: white;
}
header .wrap .menu {
  align-items: center;
}
header .wrap .menu span{
  
}
header .wrap .menu span a{

}
header .wrap .menu ul.lj {
  
}
header .wrap .menu ul.lj li {
  
}
header .wrap .menu ul.lj li a {
  display: block;
  line-height: 80px;
  padding: 0 20px;
}
header .wrap a.cart{
  line-height: 20px;
  padding: 0 10px;
  font-size: 0;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/shopping.svg);
}
header .wrap a.ham{
  height: 19px;
  width: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .wrap a.ham span{
  width: 100%;
  height: 2px;
  display: block;
  background-color: white;
}

/* header .wrap a.ham.x{
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 1;
  background-color: white;
} */