main {
  background-color: #ffffff;
  margin: 0 auto;
}

section#inside {

}
section#inside .wrap {
  
}
section#inside .wrap h2 {
  text-align: center;
  color: #404228;
  line-height: 4;
}
section#inside .wrap >div {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}
section#inside .wrap div img:nth-of-type(1) {
  grid-column: 1 / span 2;
  box-sizing: border-box;
  width: -moz-available;
}
section#inside .wrap div img:nth-of-type(2) {
  width: 800px;
}
section#inside .wrap div p {
}
section#inside .wrap div .inside {
  
}
section#inside .wrap div .inside p{
  
  margin: 40px 40px 0 0;
  font-size: 18px;
  line-height: 1.5;
}

section#hanoks {
  
}
section#hanoks .wrap {
  
}
section#hanoks .wrap h2 {
  line-height: 4;
}
section#hanoks .wrap ul {
  
}
section#hanoks .wrap ul li {
  margin-bottom: 30px;
}
section#hanoks .wrap ul li >div {
  display: grid;
  grid-template-columns: 250px 50% 30%;
  grid-template-rows: auto auto;
  padding: 25px;
  background-color: #f7f7f7;
  height: 200px;
  overflow: hidden;
  transition: 0.7s;
}
section#hanoks .wrap ul li div h3 {
  border-right: 1px solid;
}
section#hanoks .wrap ul li div a {

}
section#hanoks .wrap ul li div .hText {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
section#hanoks .wrap ul li div .hText .hTextin{
  width: 70%;
}

section#hanoks .wrap ul li div .hText h4{
  height: 150px;
  display: flex;
  align-items: center;
}
section#hanoks .wrap ul li div .hText p{
  margin-bottom: 30px;
}
section#hanoks .wrap ul li div .hText .hLink{
  display: flex;
  justify-content: center;
}
section#hanoks .wrap ul li div .hLink a{
  padding: 13px 20px;
}
section#hanoks .wrap ul li div .hLink .reservation{
  border: 1px solid;
  border-radius: 30px;
}
section#hanoks .wrap ul li div .hLink .tour{

}
section#hanoks .wrap ul li div img {
  width: 100%;
}
section#hanoks .wrap ul li div.hanok1{

}
.height{
  height: auto !important;
}
section#hanoks .wrap ul li div.hanok1 h3{

}
section#hanoks .wrap ul li div.hanok1 >div {
  
}
section#hanoks .wrap ul li div.hanok1 div p{
  
}

section#hanoks .wrap ul li div.hanok1 a span{
  
}
section#hanoks .wrap ul li div.hanok1 img{
  
}
section#hanoks .wrap ul li div.hanok2{

}
section#hanoks .wrap ul li div.hanok2 a{
  
}
section#hanoks .wrap ul li div.hanok2 a span{
  
}
section#hanoks .wrap ul li div.hanok2 img{
  
}
section#hanoks .wrap ul li div.hanok3{
  
}
section#hanoks .wrap ul li div.hanok3 a{
  
}
section#hanoks .wrap ul li div.hanok3 a span{
  
}
section#hanoks .wrap ul li div.hanok3 img{
  
}
section#hanoks .wrap ul li div.hanok4{
  
}
section#hanoks .wrap ul li div.hanok4 a{
  
}
section#hanoks .wrap ul li div.hanok4 a span{
  
}
section#hanoks .wrap ul li div.hanok4 img{
  
}
section#hanoks .wrap ul li div.hanok5{
  
}
section#hanoks .wrap ul li div.hanok5 a{
  
}
section#hanoks .wrap ul li div.hanok5 a span{
  
}
section#hanoks .wrap ul li div.hanok5 img{
  
}
section#hanoks .wrap ul li div a >h3 {
  grid-row: 1 / span 2;
  border-right: 1px solid black;
}
section#hanoks .wrap ul li div a h3 span {
  
}
section#hanoks .wrap ul li div a p {
  grid-column: 3 /span 4;
}
section#hanoks .wrap ul li div a a {
  
}
section#hanoks .wrap ul li div a img {
  
}

section#offerings {
  height: 100vh;
}
section#offerings .wrap {
  display: flex;
}
section#offerings .wrap h2 {
  writing-mode: sideways-lr;
  text-align: end;
  margin-right: 20px;
}
section#offerings .wrap ul {
  
  display: flex;
}
section#offerings .wrap ul li {
  
}
section#offerings .wrap ul li img {
  width: 302px;
/*  슬라이드 적용 전 임시  */
  height: 100%;
}
section#offerings .wrap ul li a {
  
}
section#offerings .wrap ul li p {
  
}

section#discovery {
  
  height: 100vh;
}
section#discovery .wrap {
  background-image: url(../img/hs.jpg);
  color: white;
  height: 100%;
  background-repeat: no-repeat;
  padding-left: 40%;
  padding-top: 100px;
}
section#discovery .wrap h2 {
  
  line-height: 2;
}
section#discovery .wrap h3 {
  line-height: 2;
}
section#discovery .wrap p {
  line-height: 2;
}
section#discovery .wrap a {
  color: white;
  border: 1px solid;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  width: 150px;
  text-align: center;
}

section#shop {
  height: 100vh;
}
section#shop .wrap {
  
}
section#shop .wrap h2 {
  
}
section#shop .wrap ul{ 
  display: flex;
}
section#shop .wrap >a{ 
  display: flex;
  justify-content: end;
}
section#shop .wrap >a:after{
  content: "";
}
section#shop .wrap ul li {
  flex-wrap: wrap;
  display: flex;
  padding: 0 10px;
}
section#shop .wrap ul li img {
  width: 100%;
  height: 100%;
}
section#shop .wrap ul li span {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
section#shop .wrap ul li a {
  
}
section#contactus {
  
}
section#contactus .wrap {
  display: grid;
  grid-template-columns: 15% auto auto;
  grid-template-rows: auto auto;
}
section#contactus .wrap h2 {
  
}
section#contactus .wrap .contactT {
  grid-column: 2 / span 2;
  display: flex;
  justify-content: space-between;
}
section#contactus .wrap .contactB {
  grid-row: 2;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  padding: 20px 0;
}

section#contactus .wrap ul {
  
}
section#contactus .wrap ul.Policy{
  display: flex;
}
section#contactus .wrap ul.Policy li{
  padding: 10px 10px 10px 0;
}

section#contactus .wrap ul.Policy a{
  
}
section#contactus .wrap ul.num{
  
}
section#contactus .wrap ul.num li {
  line-height: 2;
}
section#contactus .wrap ul.num li span{
  
  margin-right: 20px;
}
section#contactus .wrap ul li {
  
}
section#contactus .wrap ul li a {

}

section#contactus .wrap ul.adress {

}

section#contactus .wrap ul.adress li{

}
section#contactus .wrap ul.adress a{

}

section#contactus .wrap ul.cLink {
  display: flex;
}

section#contactus .wrap ul.cLink li{
  width: 50px;
  height: 50px;
  padding: 10px;
}
section#contactus .wrap ul.cLink li a{
  font-size: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
section#contactus .wrap ul.cLink li:nth-child(1) a{
  background-image: url(../img/cLink1.png);
}
section#contactus .wrap ul.cLink li:nth-child(2) a{
  background-image: url(../img/cLink2.png);
}
section#contactus .wrap ul.cLink li:nth-child(3) a{
  background-image: url(../img/cLink3.png);
  background-color: #ccc;
}
