#title {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#title .wrap {
  height: 100%;
  flex-direction: column;
  justify-content: end;
  color: white;
}
#title .wrap h2 {
  display: flex;
  flex-direction: column;
}
#title .wrap h2 span {
  
}
#title .wrap p {
  border-top: 1px solid;
  width: calc(100% - 70px);
  margin-bottom: 3%;
}
#title .wrap .inline-YTPlayer{
  
}

#title .wrap a.Reservation {
  display: flex;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: #717546;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 55px;
  right: 40px;
  color: white;
  z-index: 1;
}
#title .wrap a.Reservation:hover{
  color: #717546;
  background-color: white;
  border: solid 1px #717546;
}

#title .wrap div.sideMenu{
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 500px;
  background-color: rgba(32,32,21);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 10% 1fr 20% auto;
  padding: 90px;
  transform: translateX(500px);
  z-index: 2;
  transition: 1s;
}
.slideM{
  transform: translateX(0px) !important;
}

#title .wrap div.sideMenu ul.sMenu{
  grid-column: 1 / span 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
}
#title .wrap div.sideMenu a.x{
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 10px 0;
}

#title .wrap div.sideMenu a.x::before{
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: white;
  rotate: 45deg;
}
#title .wrap div.sideMenu a.x::after{
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: white;
  rotate: -45deg;
  transform: translateY(-1px);
}

/* #title .wrap div.sideMenu a.x span{
  display: block;
  width: 40px;
  height: 2px;
  background-color: white;
}
#title .wrap div.sideMenu a.x span:nth-child(1){
  rotate: 40deg;

}
#title .wrap div.sideMenu a.x span:nth-child(2){
  rotate: -40deg;

} */
#title .wrap div.sideMenu ul.sMenu li{

}
#title .wrap div.sideMenu ul.sMenu li a{
  color: white;
  font-size: 30px;
}
#title .wrap div.sideMenu ul.sMenu li a span{

}
#title .wrap div.sideMenu ul.sContact{
  grid-row: 4;
  display: flex;
  flex-direction: column;
}
#title .wrap div.sideMenu ul.sContact li{

}
#title .wrap div.sideMenu ul.sContact li a{
  color: rgba(255,255,255,0.7);
}
#title .wrap div.sideMenu ul.sContact li a span{
  line-height: 2;
}